services:
  mysql:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: test
    ports:
      - 3307:3307
    volumes:
      - ./mysql:/var/lib/mysql
    
  server:
    build:
      context: .
    ports:
      - 4000:4000
    volumes:
      - ./src:/app/src